<?xml version="1.0" encoding="UTF-8" standalone="yes"?><jarSettings><jvm>default</jvm><homedir>/home/sps/git/BIMserver/BimServer/home</homedir><address>localhost</address><port>8082</port><heapsize>4177m</heapsize><permsize>256m</permsize><stacksize>1024k</stacksize><forceipv4>false</forceipv4></jarSettings>